body {
  color: white;
  background-image:url("./images/can.jpeg");
  text-decoration: none;
  letter-spacing: 3px;
}

h1 {
  color: rgb(150, 150, 150);
  font-size: 30px;
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
}

h2 {
  color: white;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h3 {
  color: rgb(150, 150, 150);
  font-size: 30px;
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
}

p {
  color: white;
  font-size: 15px;
  font-family:'Open Sans', sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

.center {
  text-align: center
}

.resized_movie {
  width: 250px;
  height: 300px;
  border: 6px solid #880031;
}

#profile_picture {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 0.5 #880031;
}

div {
  padding: 100px;
  margin: 100px 10%;
  background-color: #A4003A;
}

.movie_title {
  font-size: 25px;
  color: rgb(150, 150, 150);
}

td {
  margin: 100px auto;
  padding: 30px;
}

.justify {
  text-align: justify;
}

a:hover {
  color: #880031;
}

li {
  list-style: none;
  color: white;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.diapo {
  width: 400px;
  height: 400px;
}

#ode {
  margin: 5px 25%;
  padding: 5px;
  border: 6px solid #880031;
}

i {
  color: rgb(150, 150, 150);
}

i:hover {
  color:#880031;
}

#center_p {
  margin: 0px 0px;
}

object {
  margin: 100px, 25%;
}
